<html>

    
    <body>  
        
       
        
        
                    <div class="wlc">
                        <p id="heading">Welcome</p> <br>
                        <h1 class="btn">
                            <a href="NewStudent" class="nav-link">Add New Student</a>
                        </h1>
                        <h1 class="btn">
                           <a href="ViewStudent" class="nav-link">view All Student</a>
                            
                        </h1> 
                        <h1 class="btn">
                           <a href="Logout" class="nav-link">Logout</a>
                            
                        </h1>  
                    </div>
    </body>
</html>